;
; Meter Configuration
;
;   device      Linux device entry
;   baudrate    Baudrate
;
[meter]
device=/dev/ttyUSB0
baudrate=115200

;
; Generic application options
;
;   storage    Storage driver (log, mysql...)
;   log        Log filename when using storagedriver "log". Defaults to p1reader.log
;   external   Writes data to an external app.
;
[generic]
storage=log
log=

;
; Mysql/MariaDB Storage options (optional)
; Fill in these options when you use "mysql" as storage
;
[mysql]
hostname=127.0.0.1
username=
password=
database=
tablename=meter_readings

[external]
cmd=
args=